#map {
  width: 100%;
  height: -webkit-calc(100vh - 1250px);
  height: -moz-calc(100vh - 125px);
  height: calc(100vh - 125px);
}

#pano {
  width: 200px;
  height: 200px;
  float: left;
}

#foursquare {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 10px;
}

.fqIcon {
  width: 40px;
  height: 40px;
}